
mixin hcard-label-value-list(classname, data)
	- if(!(data instanceof Array)) { data = [data] };
	each item in data
		if item.value
			div(class=classname)
				if item.type
					span.type= item.type
				if block
					block
				else
					span.value= item.value


mixin hcard-adr(data)
	- if(!(data instanceof Array)) { data = [data] };
	each item in data
		li: address.adr
			if item.type
				.type= item.type
			if item.postOfficeBox
				.post-office-box= item.postOfficeBox
			if item.streetAddress
				.street-address= item.streetAddress
			if item.extendedAddress
				.extended-address= item.extendedAddress
			if item.postalCode
				span.postal-code= item.postalCode + ' '
			if item.locality
				span.locality= item.locality
			if item.region
				.region= item.region
			if item.countryName
				.country-name= item.countryName


mixin hcard-n(data)
	.n
		if data.honorificPrefix
			span.honorific-prefix= data.honorificPrefix + ' '
		if data.honorificSuffix
			span.honorific-suffix= data.honorificSuffix + ' '
		if data.givenName
			span.given-name= data.givenName + ' '
		if data.additionalName
			span.additional-name= data.additionalName + ' '
		if data.familyName
			span.family-name= data.familyName


mixin email(value)
	a(href="mailto:" + value)= value

mixin tel(value)
	a(href="tel:" + value.replace(/\D/g, ''))= value


mixin hcard(data)
	//- http://microformats.org/wiki/hcard#Property_List
	.vcard
		if data.org
			.org= data.org
		if data.n
			+hcard-n(data.n)
		if data.fn
			.fn !{data.fn}
		if data.nickname
			.nickname= data.nickname
		if data.adr
			+hcard-adr(data.adr)

		if data.tel
			- if(!(data.tel instanceof Array)) { data.tel = [data.tel] };
			each item in data.tel
				if item.value
					li.tel
						if item.fa
							span.fa(class=item.fa)
						if item.type
							span.type= item.type
						span.value: +tel(item.value)

		if data.email
			- if(!(data.email instanceof Array)) { data.email = [data.email] };
			each item in data.email
				if item.value
					li.email
						if item.fa
							span.fa(class=item.fa)
						if item.type
							span.type= item.type
						span.value: +email(item.value)

		if data.url
			- if(!(data.url instanceof Array)) { data.url = [data.url] };
			each item in data.url
				if item.value
					li.url
						if item.fa
							span.fa(class=item.fa)
						if item.type
							span.type= item.type
						span.value: a(href=item.value)= item.value.replace(/(http:\/\/)|(https:\/\/)/, '')

		if data.bday
			.bday= data.bday
		if data.category
			.category= data.category
		if data.note
			.note= data.note










